<h1>List of Coffee Items</h1>
<ul>
    {{#each coffeeList}}
    <li>
        {{name}} | {{price}}
        <a href="/coffee/{{name}}">View Details</a>
        <a href="/coffee/edit/{{name}}">Edit Details</a>
        <form action="/coffee/delete/{{name}}" method="POST">
            <button type="submit">Delete Item</button>
        </form>
    </li>
    {{/each}}
</ul>